In [ ]:
import pandas as pd
import numpy as np
import glob

Test Notebook for treating first day of data

In [ ]:
ruta = "../data/*.csv"
archivos = glob.glob(ruta)

In [ ]:
for archivo in archivos:
    print("Procesando:", archivo)

    df = pd.read_csv(archivo)

    df["timestamp"] = pd.to_datetime(df["timestamp"])

    df = df.drop_duplicates(subset=["timestamp","evento"], keep="first")

    nuevo = archivo.replace(".csv", "_clean.csv")
    df.to_csv(nuevo, index=False)

    print("Guardado:", nuevo)

In [ ]:
df = pd.read_csv("../data/day2.csv")

Test different clean function

In [ ]:
df.describe()

,frame_idx,track_id,cx,cy,x1,y1,x2,y2,diff
count,143.000000,143.000000,143.000000,143.000000,143.000000,143.000000,143.000000,143.000000,142.000000
mean,471254.629371,22160.748252,149.090909,179.825175,128.139860,163.216783,170.545455,196.958042,357.542254
std,219792.351968,10345.831380,8.006959,1.654336,9.817777,3.065344,9.867950,3.032393,415.479534
min,44376.000000,1.000000,130.000000,173.000000,106.000000,154.000000,150.000000,190.000000,0.000000
25%,292034.000000,15000.000000,144.000000,179.000000,122.000000,161.000000,165.000000,195.000000,44.000000
50%,505858.000000,23629.000000,149.000000,180.000000,130.000000,163.000000,170.000000,197.000000,200.000000
75%,663968.000000,30656.500000,153.500000,181.000000,134.000000,166.000000,176.000000,199.000000,518.500000
max,805642.000000,38842.000000,189.000000,188.000000,167.000000,171.000000,212.000000,206.000000,1938.000000

Remove duplicates

Look at Anomaly in cx, x1, x2
Just error if 2 lines anomaly at same time

In [30]:
dup_ts = df['timestamp'].value_counts()
dup_ts = dup_ts[dup_ts > 1].index 
df[df['timestamp'].isin(dup_ts)][["timestamp", "evento"]]

Empty DataFrame
Columns: [timestamp, evento]
Index: []

In [14]:
df = df.drop_duplicates(subset=["timestamp", "evento"], keep="first")

Timestamp similarity (5 seconds)

In [40]:
df["diff"] = df["timestamp"].diff().dt.total_seconds() #Create DIFF column

In [31]:
df[(df["diff"] < 5) | (df["diff"].shift(-1) < 5)]

,frame_idx,timestamp,evento,track_id,clase,cx,cy,x1,y1,x2,y2,diff
3,70750,2025-11-11 07:18:38,salida,1,car,134,181,119,168,150,194,1075.0
5,70758,2025-11-11 07:18:39,entrada,1,truck,130,182,111,166,150,198,1.0
14,131162,2025-11-11 08:25:47,salida,6062,car,149,180,133,167,165,194,37.0
16,131214,2025-11-11 08:25:51,salida,6062,car,148,180,131,166,165,195,4.0
27,221098,2025-11-11 10:05:45,salida,11226,truck,149,180,132,162,166,198,1316.0
30,221104,2025-11-11 10:05:46,salida,11226,truck,149,179,131,160,167,199,1.0
48,360242,2025-11-11 12:40:25,entrada,18504,truck,149,180,133,162,166,199,172.0
50,360264,2025-11-11 12:40:26,salida,18504,truck,150,179,134,161,166,198,1.0
69,495634,2025-11-11 15:10:55,salida,23170,car,155,179,135,163,176,196,16.0
70,495706,2025-11-11 15:10:59,entrada,23170,car,151,180,134,166,169,195,4.0
71,495716,2025-11-11 15:11:00,salida,23170,car,151,179,131,163,172,195,1.0
84,545704,2025-11-11 16:06:34,entrada,25017,car,188,176,167,157,210,195,22.0
85,545714,2025-11-11 16:06:35,salida,25017,car,189,174,167,155,212,194,1.0
86,553046,2025-11-11 16:14:44,salida,25219,truck,144,180,126,166,162,195,489.0
87,553078,2025-11-11 16:14:46,salida,25236,car,143,180,126,166,161,194,2.0
103,624946,2025-11-11 17:34:39,entrada,28320,truck,149,180,133,161,166,199,771.0
106,624962,2025-11-11 17:34:40,entrada,28320,truck,150,181,131,159,169,203,0.0
117,665148,2025-11-11 18:19:20,entrada,30753,car,145,181,118,166,172,196,157.0
118,665202,2025-11-11 18:19:24,entrada,30762,car,142,181,109,166,176,196,4.0
122,676200,2025-11-11 18:31:37,salida,31535,car,141,180,122,163,160,197,51.0
123,676260,2025-11-11 18:31:41,salida,31551,truck,145,180,131,166,160,195,4.0
138,720298,2025-11-11 19:20:38,salida,34107,truck,140,180,125,166,156,195,167.0
141,721542,2025-11-11 19:22:01,salida,34172,truck,149,179,134,164,164,195,0.0
148,779180,2025-11-11 20:26:05,entrada,37020,car,148,181,120,161,177,202,347.0
149,779240,2025-11-11 20:26:09,entrada,37052,car,144,181,112,166,177,196,4.0
150,784006,2025-11-11 20:31:27,entrada,37339,truck,140,181,123,168,158,195,318.0
152,784016,2025-11-11 20:31:28,salida,37350,car,141,180,123,167,159,194,1.0

Remove "diff" column

In [42]:
df = df.drop(columns=["diff"])

Remove anomalies

In [32]:
df[df["cx"] < 140]

,frame_idx,timestamp,evento,track_id,clase,cx,cy,x1,y1,x2,y2,diff
9,76756,2025-11-10 07:25:19,salida,4099,car,133,181,116,169,150,194,1268.0
12,127472,2025-11-10 08:21:41,salida,8094,car,139,181,121,168,157,195,1340.0
25,201302,2025-11-10 09:43:45,salida,11600,car,136,181,116,168,156,195,162.0
27,209612,2025-11-10 09:52:59,entrada,11793,car,139,182,106,163,172,201,478.0

In [29]:
df = df.drop(140) #Remover X fila

In [6]:
df["timestamp"] = pd.to_datetime(df["timestamp"]) #Cambiar columna a datetime
df["diff"] = df["timestamp"].diff().dt.total_seconds()

Save Cleanest Data

In [32]:
df.to_csv("../data/clean/day_2_clean.csv", index=False)

If necessary : Swap Datetime Day

In [ ]:
df["timestamp"] = df["timestamp"].apply(lambda t: t.replace(day=int(11))) #Cambiar numero por el dia correcto