In [2]:
import pandas as pd
import numpy as np

Test Notebook for treating first day of data

In [4]:
df = pd.read_csv("../data/day1.csv")

Test different clean function

In [ ]:
df.describe()

,frame_idx,track_id,cx,cy,x1,y1,x2,y2
count,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000
mean,421700.551724,21158.922414,149.715517,180.051724,128.525862,163.844828,171.379310,196.801724
std,243127.089067,12091.635785,8.631395,1.581660,10.091289,2.802494,10.592578,2.978823
min,22514.000000,1556.000000,89.000000,177.000000,75.000000,156.000000,104.000000,192.000000
25%,200694.500000,11540.000000,146.000000,179.000000,124.000000,162.000000,167.000000,195.000000
50%,440736.000000,20425.500000,150.000000,180.000000,129.000000,164.000000,171.000000,196.000000
75%,646954.000000,32188.000000,155.000000,181.000000,135.250000,166.000000,178.000000,198.000000
max,805634.000000,43339.000000,167.000000,189.000000,149.000000,176.000000,196.000000,207.000000

Look at Anomaly in cx, x1, x2

Remove duplicates

In [20]:
#df[df["cx"] < 140]
df[df["x1"] < 118]

,frame_idx,timestamp,evento,track_id,clase,cx,cy,x1,y1,x2,y2
1,36196,2025-11-10 06:40:14,entrada,2224,car,145,182,117,168,173,197
2,37026,2025-11-10 06:41:09,entrada,2262,car,142,181,111,166,173,196
7,45876,2025-11-10 06:50:59,entrada,2708,car,142,181,116,168,168,195
10,76756,2025-11-10 07:25:19,salida,4099,car,133,181,116,169,150,194
29,201302,2025-11-10 09:43:45,salida,11600,car,136,181,116,168,156,195
31,209612,2025-11-10 09:52:59,entrada,11793,car,139,182,106,163,172,201
39,271214,2025-11-10 11:01:28,entrada,13296,truck,143,185,108,164,179,206
43,292380,2025-11-10 11:24:59,entrada,14087,car,146,181,116,160,176,202
46,319576,2025-11-10 11:55:13,salida,15068,car,89,186,75,176,104,197
66,469672,2025-11-10 14:42:04,entrada,21680,truck,142,181,106,162,178,200
69,508588,2025-11-10 15:25:19,entrada,23861,car,142,181,111,165,173,197
72,545220,2025-11-10 16:06:02,entrada,25857,car,142,182,112,166,172,198
76,600478,2025-11-10 17:07:27,entrada,28644,car,146,181,116,166,176,197
87,647410,2025-11-10 17:59:37,entrada,32251,car,144,181,109,163,180,199
99,721978,2025-11-10 19:22:31,entrada,36907,car,145,181,116,162,174,200